 body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background-color: #ffffff;
      color: #ffffff;
    }
    header {
      background-image:linear-gradient( 90deg, white, #062af3,white);
      color: rgb(252, 252, 252);
      padding: 1rem;
      text-align: center;
      text-shadow: 4px 2px 2px rgb(0, 0, 0);
    }
    nav {
      background-image: linear-gradient(#062af3,black);
      padding: 0.5rem;
      text-align: center;
    }
   
    section {
      padding:1rem;
      border-bottom: 1px solid #fafafa;
      background-color: black;
    }
    footer {
      background-color: #062af3;
      color: white;
      text-align: center;
      padding: 1rem;
    }
    nav a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #062af3;
  color: #dff518;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  background-color: #001a99;
  color: #ffffff;
  transform: scale(1.05);
}
.contenedor {
  display: flex;
  flex-direction: row;
  height: 68vb;
  overflow: hidden;
}

.columna {
  flex: 1;
  padding: 1rem;
  color: white;
  overflow-y: auto;
}

.izquierda {
  background-color: #020202;
  color: #dff518;
  }

.centro {
  background-color: #080808;
  text-align: center;
  flex: 3;
}

